*{
	padding: 0;
	margin: 0;
	border: 0;

}
*,*:before,*after{
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;
}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;
white: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
 }
 input,button,textarea{font-family: inherit;}
 input::-ms-clear{display: none;}
 button{cursor: pointer;}
 button::moz-focus-inner{padding: 0;border: 0;}
 a,a:vistited{text-decoration: none;}
 a hover{text-decoration: none;}
 ul li{list-style:none; }
 img{vertical-align: top;}
 h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

.red{

height: 20px;
margin: 0px 20px 40px 0px;
}
.a{
  margin: 0px 0px 0px 15px;
}
p{margin: 10px
}
        .big{
          display: block;

 padding: 30px 10px ;

        }
.shadow{margin: 20px ;}
.box{margin: 20px;}